<!-- Ultra dummy code until we have something to show here -->
<%- include('../layouts/main') %>

<h1>List of Posts</h1>
<ul>
	<li class="blue_item">Australia</li>
	<li class="blue_item">USA</li>
	<li class="red_item">Pakistan</li>
	<li class="blue_item">UK</li>
	<li class="red_item">Japan</li>
</ul>
